<section class="registration-form">
  <div class="content-wrap">
    <form>
      <div>
        <label>First Name</label>
        <input placeholder="First Name" />
      </div>

      <div>
        <label>Last Name</label>
        <input placeholder="Last Name" />
      </div>

      <div>
        <label>Email</label>
        <input type="email" placeholder="ex: myname@example.com" />
      </div>

      <div>
        <label>Country</label>
        <input type="text" placeholder="ex: Egypt" />
      </div>

      <div>
        <label>Phone Number</label>
        <input type="tel" placeholder="(000) 000 000" />
      </div>

      <div>
        <label>Available start date</label>
        <input type="date" placeholder="MM-DD-YY" />
      </div>

      <div class="Employment-status">
        <p>What is your current employment status?</p>

        <input
          type="radio"
          id="Employed"
          name="Employment-status"
          value="Employed"
        />
        <label for="contactChoice1">Employed</label>
        <br />

        <input
          type="radio"
          id="Unemplyed"
          name="Employment-status"
          value="Unemployed"
        />
        <label for="contactChoice2">Unemployed</label>
        <br />

        <input
          type="radio"
          id="Self-Employed"
          name="status?"
          value="Self-Employed"
        />
        <label for="contactChoice3">Self-Employed</label>
        <br />

        <input
          type="radio"
          id="contactChoice4"
          name="status?"
          value="Student"
        />
        <label for="contactChoice4">Student</label>
        <br />
      </div>

      <button>Submit</button>
    </form>
  </div>
</section>
