<div class="background">
  <div class="cardContent column gap-2">
    <h1 class="welcome">Apply to Job</h1>
    <form [formGroup]="applyToJobForm">
      <!--  Inputs -->
      <div class="inputs">
        <!-- First Name -->
        <div class="floatingLabelContent">
          <input
            formControlName="firstName"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">First Name</label>
        </div>

        <!-- Last Name -->
        <div class="floatingLabelContent">
          <input
            formControlName="lastName"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">Last Name</label>
        </div>

        <!-- Email -->
        <div class="floatingLabelContent">
          <input
            formControlName="email"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">Email</label>
        </div>

        <!-- Phone Number -->
        <div class="floatingLabelContent">
          <input
            formControlName="phoneNumber"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">Phone Number</label>
        </div>

        <!-- Country -->
        <div class="floatingLabelContent">
          <input
            formControlName="country"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">Country</label>
        </div>

        <!-- availableStartDate -->
        <div class="floatingLabelContent">
          <input
            formControlName="availableStartDate"
            class="floatingLabelInput"
            type="date"
            placeholder=""
          />
          <label class="floatingLabel">Available Start Date</label>
        </div>
      </div>
      <!-- Text Areas -->
      <div class="textAreas">
        <!-- Reason Of Hire -->
        <div class="floatingLabelContent">
          <textarea
            formControlName="reasonOfHire"
            class="floatingLabelInput"
            type="text"
            placeholder=""
          ></textarea>
          <label class="floatingLabel">Why Should We Hire You</label>
        </div>

        <!-- Qualifications -->
        <div class="floatingLabelContent">
          <textarea
            formControlName="reasonOfHire"
            class="floatingLabelInput"
            type="text"
            placeholder=""
          ></textarea>
          <label class="floatingLabel">Tell Us About Your Qualifications</label>
        </div>
        <!-- LinkedIn -->
        <div class="floatingLabelContent">
          <input
            formControlName="linkedIn"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">LinkedIn</label>
        </div>

        <!-- Github -->
        <div class="floatingLabelContent">
          <input
            formControlName="github"
            class="floatingLabelInput"
            type="text"
            placeholder=""
            pInputText
          />
          <label class="floatingLabel">Github</label>
        </div>
      </div>
    </form>
    <app-animated-button
      label="Apply"
      type="submit"
      width="100%"
      height="2.8rem"
      backgroundColor="var(--primary-color)"
      fontSize="1.1rem"
      fontWeight="700"
      (click)="onApplyToJob()"
    ></app-animated-button>
  </div>
</div>
