<section class="addJob-form">
    <div class="content-wrap">
      <form>
        <div>
          <label>Job Title</label>
          <input type="text" placeholder="Job title" required>
        </div>

        <div>
          <label>Company Name</label>
          <input type="text" placeholder="Company Name" disabled>
        </div>

        <div>
          <label>Job Category</label>
          <select required>
            <option value="hhh">hhh</option>
          </select>
        </div>

        <div>
          <label>Job Type</label>
          <select required>
            <option value="full-time">Full-time</option>
            <option value="part-time">Part-time</option>
            <option value="contract">Contract</option>
          </select>
        </div>

        <div>
          <label>Salary Range</label>
          <input type="text" placeholder="Salary Range" required>
        </div>

        <div>
          <label>Location</label>
          <input type="text" placeholder="City or Remote" required>
        </div>

        <div>
          <label>Experience</label>
          <input type="text" placeholder="Experience" required>
        </div>

        <div>
          <label>Gender</label>
          <select required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            <option value="any">Any</option>
          </select>
        </div>

        <div>
          <label>Detailed Job Description</label>
          <textarea placeholder="Detailed Job Description" required></textarea>
        </div>

        <div>
          <label>Responsibilities</label>
          <textarea placeholder="Responsibilities" required></textarea>
        </div>

        <div>
          <label>Qualifications or Professional Skills</label>
          <textarea placeholder="Qualifications or Professional Skills" required></textarea>
        </div>

        <div>
          <label>Benefits (Optional)</label>
          <textarea placeholder="Benefits"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </section>
